p
.container
  .row
    .col-sm
      br
      h4 Hi there, #{session.name}!
      p
      p At NOOK, you can
      ul
        li View all of our books
        li Search for books by title, author, ISBN, and genre
        li Purchase books you like
          ul
            li We save the billing/shipping information you registered with to save you time
        li View past orders and track them via order ID
      p Let's dive in!
      a.btn.btn-primary(href='/books' role='button') View all books
