p
.container
  .row
    .col-sm
      br
      h4 Hi there, #{session.name}!
      p
      p At NOOK, you can
      ul
        li View all of your books
        li Remove books
        li Add authors
        li Add publishers
        li Add books
        li View 3 reports
      p We also automatically place orders for new books for you. Let's dive in!
      a.btn.btn-primary(href='/books' role='button') View all books
