html
  head
    title Add a New Author · Nook
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    script(type="module" src='/javascripts/authorClient.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

body
  
  include ./partials/header.pug

  p
  .container
    .row
      .col-sm
        h4 Add an Author
        form
          .form-group
            label(for='authorName') Name
            input#authorName.form-control(name='authorName' aria-describedby='emailHelp' placeholder='Enter name')
          .form-group
            label(for='authorEmail') Email
            input#authorEmail.form-control(name='authorEmail' aria-describedby='emailHelp' placeholder='Enter email')
          .form-group
            label(for='authorBiography') Biography
            input#authorBiography.form-control(name='authorBiography' aria-describedby='emailHelp' placeholder='Enter biography')
          .form-group
            label(for='authorWebsite') Website
            input#authorWebsite.form-control(name='authorWebsite' aria-describedby='emailHelp' placeholder='Enter biography')
          button#addAuthor.btn.btn-primary Add author