html
  head
    title Your Cart · Nook
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
  
  include user-header.pug

  p
  .container
    .row
      .col-sm
        h4 Cart
        table.table
          thead
            tr
              th(scope='col') Book
              th(scope='col') Quantity
              th(scope='col') Price
          tbody
            tr
              td Hunger Games
              td 1
              td 10
            tr
              td Green Eggs and Ham
              td 1
              td 10
            tr
              td Zero to One
              td 1
              td 10
        br
        h5 Details
        p
        p Order ID:
        p
        p Total cost:
        p
        p Destination address:
        p
        p Credit card number:
        p
        p Billing address:
        br

        h5 Update (optional)
        form(action='/search/results' method="post")
          .form-group
            label(for='cartDestinationAddress') Update destination address for order
            input#cartDestinationAddress.form-control(name='title' aria-describedby='emailHelp' placeholder='Enter destination address')
          button.btn.btn-primary(type='submit') Update
        form(action='/search/results' method="post")
          .form-group
            label(for='cartCreditCardNumber') Update credit card number for order
            input#cartCreditCardNumber.form-control(name='title' aria-describedby='emailHelp' placeholder='Enter credit card number')
          button.btn.btn-primary(type='submit') Update
        form(action='/search/results' method="post")
          .form-group
            label(for='cartBillingAddress') Update billing address for order
            input#cartBillingAddress.form-control(name='title' aria-describedby='emailHelp' placeholder='Enter billing address')
          button.btn.btn-primary(type='submit') Update
        br

        h5 Place your order
        button.btn.btn-primary(type='submit') Ka-ching!
        br
        br
        br