html
    head
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
        title=homepage
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
      .container
        p
        br
        br
        br
        .row
          .col-sm
            h1(style='padding-top: 80px;') Nook is an online bookstore connecting readers with their favorite stories.
            p
            br
          .col-sm
            br
            br
            img.rounded.float-left(src='https://static.vecteezy.com/system/resources/previews/002/268/088/original/man-reading-a-book-and-sitting-on-stack-of-books-illustration-free-vector.jpg' alt='...' style='width: 300px')
        .row
          .col-sm
            h4 Users
            form(action="/register" method="get")
                button.btn.btn-primary(type='submit') Register
            form(action="/login" method="get")
                button.btn.btn-primary(type='submit') Log In
          .col-sm
            h4 Owner
            form(action="/login" method="get")
                button.btn.btn-primary(type='submit') Log In
          .col-sm
          .col-sm