html
  head
    title Register · Nook
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
  

  .container
    .row
      .col-sm
        h4(style='padding-top: 20px;') Register
        form#registerForm(action="/customers" method="post")
          .form-group
            label(for='registerName') Name
            input#registerName.form-control(type='text' name="name" aria-describedby='inputGroupPrepend' placeholder='Enter name' required)
          .form-group
            label(for='registerEmail') Email
            input#registerEmail.form-control(type='text' name="email" aria-describedby='inputGroupPrepend' placeholder='Enter email' required)
          .form-group
            label(for='registerPhoneNumber') Phone number
            input#registerPhoneNumber.form-control(type='text' name="phone" aria-describedby='inputGroupPrepend' placeholder='Enter phone number' required)
          .form-group
            label(for='registerCreditCardNumber') Credit card number
            input#registerCreditCardNumber.form-control(type='text' name="bank_account" aria-describedby='inputGroupPrepend' placeholder='Enter credit card number' required)
          .form-group
            label(for='registerDefaultAddress') Default address
            input#registerDefaultAddress.form-control(type='text' name="address" aria-describedby='inputGroupPrepend' placeholder='Enter default address' required)
          .form-group
            label(for='registerPassword') Password
            input#registerPassword.form-control(type='password' name="password" placeholder='Enter password' required)
          button.btn.btn-primary(type='submit') Register
        script(src="/javascripts/registerClient.js") 