html
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')

body
  include user-header.pug

  .container
    .row
      .col-sm
        h4(style='padding-top: 20px;') Search
        form(action='/search/results' method="post")
          .form-group
            label(for='searchTitle') Title
            input#searchTitle.form-control(name='title' aria-describedby='emailHelp' placeholder='Enter title')
          .form-group
            label(for='searchAuthor') Author
            input#searchAuthor.form-control(name='author' aria-describedby='emailHelp' placeholder='Enter author')
          .form-group
            label(for='searchISBN') ISBN
            input#searchISBN.form-control(name='ISBN' aria-describedby='emailHelp' placeholder='Enter ISBN')
          .form-group
            label(for='searchGenre') Genre
            input#searchGenre.form-control(name='genre' aria-describedby='emailHelp' placeholder='Enter genre')
          button.btn.btn-primary(type='submit') Search